@import url("./font/font.css");
@import url("./vim.css");
@import url("./vim2.css");

:root {
	--sakura-paint-rose: #d875a7;
	--sakura-paint-love: #d87576;
	--sakura-paint-gold: #b4b433;
	--sakura-paint-tree: #33b473;
	--sakura-paint-iris: #696ac2;
	--sakura-paint-pine: #466481;
	--sakura-paint-foam: #6996c2;

	--sakura-text-subtle: #67669b;
	--sakura-text-muted: #8983ad;
	--sakura-text-norm: #464681;

	--sakura-layer-inv: #3d1127;
	--sakura-layer-base: #faedf3;
	--sakura-layer-surface: #fff3f8;
	--sakura-layer-overlay: #f2e1ea;

	--sakura-hl-high: #cecacd;
	--sakura-hl-med: #dfd9de;
	--sakura-hl-low: #f4e8ef;
}

body {
	--vim-fg: var(--sakura-text-norm);
	--vim-bg: var(--sakura-layer-base);
	color: var(--vim-fg);
	background-color: var(--vim-bg);
	font-family: "Go Mono Nerd Font", "Ubuntu Mono Nerd Font", monospace;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 32px;
	padding-right: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
	line-height: 1.5;
	font-size: 16px;
}

[nowrap] {
	white-space: nowrap;
}

table.hr {
	width: 100%;
	border-collapse: collapse;

	&:not([vim]) {
		--vim-fg: var(--sakura-paint-foam);
		color: var(--sakura-paint-foam);
	}

	& td:first-child,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& td:last-child {
		width: min-content;
		white-space: nowrap;
		color: var(--vim-fg);
		margin-bottom: 0px;
		margin-top: 0px;
		vertical-align: bottom;
	}

	td:nth-child(2) {
		width: 100%;
		vertical-align: middle;
	}

	td {
		padding-top: 32px;
	}

	& hr {
		margin-left: 16px;
		width: calc(100% - 18px);
		border-top: 1px solid var(--vim-fg);
		border-bottom: none;
		border-left: none;
		border-right: none;
	}

	& td:nth-child(3) {
		padding-left: 16px;
		vertical-align: middle;
	}
}

details {
	summary {
		--vim-fg: var(--sakura-paint-foam);
		color: var(--sakura-paint-foam);
	}

	article {
		margin-left: 3px;
		border-left: 1px solid var(--sakura-layer-inv);
		padding-left: 10px;
	}
}

code,
pre {
	--vim-bg: var(--sakura-layer-surface);
	background-color: var(--sakura-layer-surface);
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 14px;
}

pre {
	white-space: pre-line;
}

div.table-border {
	border: 1px solid var(--sakura-hl-high);
	border-radius: 8px;
	width: min-content;
	box-sizing: border-box;
	min-width: 100%;
	overflow: clip;
}

div.home {
	width: min-content;
	margin: auto;

	img {
		max-width: 368px;
	}

}

table:not(.hr):not(.call) {
	width: 100%;

	display: table;
	border-collapse: collapse;


	td,
	th {
		padding: 4px 8px;

		&:not(:last-child) {
			border-right: 1px solid var(--sakura-hl-high);
		}
	}


	tr:not(:first-child) {
		border-top: 1px solid var(--sakura-hl-high);

	}

	tr:nth-child(even) {
		background-color: var(--sakura-layer-overlay);
		--vim-bg: var(--sakura-layer-overlay);
	}
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 16px;
	padding-inline-start: 16px;
}

ul li::marker {
	content: "— ";
}

li:not(:first-child) {
	margin-top: 16px;
}

details {
	margin-bottom: 16px;

	&[open] {
		margin-bottom: 32px;

		& table.call {
			height: 20px;
		}
	}

	& summary:target {
		background-color: var(--sakura-layer-surface);
		--vim-bg: var(--sakura-layer-surface);
		border-radius: 8px;
	}
}

a {
	color: var(--sakura-paint-foam);
	--vim-fg: var(--sakura-paint-foam);

	&:visited {
		color: var(--sakura-paint-foam);
		--vim-fg: var(--sakura-paint-foam);
	}
}

[title="Optional"]::after {
	content: "?";
	font-style: italic;
	color: var(--sakura-text-muted);
	--vim-fg: var(--sakura-paint-muted);
	font-size: var(--fz);
}

table.call {
	width: calc(100% - 24px);
	display: inline-block;
	vertical-align: top;

	& td:first-child {
		white-space: nowrap;
		width: min-content;
		padding-right: 16px;
	}

	& td:last-child {
		text-align: right;
		width: 100%;
		--vim-fg: var(--sakura-text-norm);
		color: var(--sakura-text-norm);
	}

	& td {
		vertical-align: top;
		padding: 0px;
	}

	& ol {
		margin: 0;
		padding: 0;
		list-style: numbers inside;
		white-space: collapse nowrap;
		font-size: 14px;

		& li::marker {
			--vim-fg: var(--sakura-paint-gold);
			color: var(--sakura-paint-gold);
			font-size: 14px;

		}

		& li {
			margin: 0;
		}

		&>li:first-child {
			list-style: " →" inside;

			&::marker {
				--vim-fg: var(--sakura-text-norm);
				color: var(--sakura-text-norm);
			}
		}
	}
}

@counter-style numbers {
	system: numeric;
	symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
	prefix: " ";
	suffix: "";
}
