@font-face {
	font-family: "Go Mono NerdFont";
	font-weight: 700;
	font-style: italic;
	src:
		local("Go Mono Nerd Font Bold Italic"),
		local("Go Mono NF Bold Italic"),
		local("GoMono Nerd Font Bold Italic"),
		local("GoMono NF Bold Italic"),
		url("./font/mono-bi.ttf") format("truetype");
}

@font-face {
	font-family: "Go Mono NerdFont";
	font-weight: 700;
	font-style: normal;
	src:
		local("Go Mono Nerd Font Bold"),
		local("Go Mono NF Bold"),
		local("GoMono Nerd Font Bold"),
		local("GoMono NF Bold"),
		url("./font/mono-bx.ttf") format("truetype");
}

@font-face {
	font-family: "Go Mono NerdFont";
	font-weight: 400;
	font-style: italic;
	src:
		local("Go Mono Nerd Font Italic"),
		local("Go Mono NF Italic"),
		local("GoMono Nerd Font Italic"),
		local("GoMono NF Italic"),
		url("./font/mono-ri.ttf") format("truetype");
}

@font-face {
	font-family: "Go Mono NerdFont";
	font-weight: 400;
	font-style: normal;
	src:
		local("Go Mono Nerd Font"),
		local("Go Mono NF"),
		local("GoMono Nerd Font"),
		local("GoMono NF"),
		url("./font/mono-rx.ttf") format("truetype");
}
